<footer class="w-100 py-4 flex-shrink-0">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <span class="head">Solutions</span>
        <ul class="text-small list-unstyled mt-2">
          <li><a routerLink="welcome">For pet parents</a></li>
          <li><a routerLink="about">For Vet professionals</a></li>
          <li><a routerLink="product">Market place</a></li>
        </ul>
      </div>
      <div class="col">
        <span class="head">More Info</span>
        <ul class="text-small list-unstyled mt-2">
          <li><a routerLink="welcome">About us</a></li>
          <li><a routerLink="about">Partners</a></li>
          <li><a routerLink="product">Blog</a></li>
        </ul>
      </div>
      <div class="col">
        <span class="head">Legal</span>
        <ul class="text-small list-unstyled mt-2">
          <li><a routerLink="welcome">Privacy Policy</a></li>
          <li><a routerLink="about">Terms of use</a></li>
        </ul>
      </div>
      <div class="col">
        <span class="head">Support</span>
        <ul class="text-small list-unstyled text-light mt-2">
          <li><a routerLink="welcome">support&#64;pinder.com</a></li>
          <li><a routerLink="about">(+91)-9876543210</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <p class="small text-light text-center">
        A &nbsp; <a class="text-primary" href="https://zerolpa.web.app">
          <img src="../../../assets/Just 0 logo wb.png" height="30" alt="0"/>&nbsp;
          <img src="../../../assets/desc-whiteblue.png" height="25" alt="Zero"/>
        </a> &nbsp; product.
        <br />
        Made with
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
        </svg> in India.
      </p>
      <p class="small text-light mb-0 text-center">&copy;2025 Pinder. All rights reserved.
      </p>
    </div>
  </div>
</footer>