<nav class="navbar navbar-expand-md navbar-muted bg-muted border rounded">
  <div class="container">
    <a routerLink="/" class="navbar-brand">
      <div class="title-container">
        <ion-avatar slot="start">
          <img src="../../assets/Pinder Assets/P-only logo.png"/>
        </ion-avatar>
        <ion-text>
          <span class="title-main">PINDER</span>
          <ion-text class="title-sub">A trusted pet ecosystem</ion-text>
        </ion-text>
      </div>
    </a>
    <button class="navbar-toggler ms-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      (click)="collapsed = !this.collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarSupportedContent" [ngClass]="{ collapse: collapsed, 'navbar-collapse': true }">
      <ul class="navbar-nav ms-auto me-4">
        <li class="nav-item">
          <a routerLink="/home" class="nav-link" routerLinkActive="homeActive" #home="routerLinkActive"> Home </a>
        </li>
        <li class="nav-item" >
          <a routerLink="/about" class="nav-link" routerLinkActive="aboutActive" #about="routerLinkActive"> About </a>
        </li>
        <li class="nav-item">
          <a routerLink="/product" class="nav-link" routerLinkActive="productActive" #product="routerLinkActive"> Products </a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact" class="nav-link" routerLinkActive="contactActive" #contact="routerLinkActive"> Contact</a>
        </li>
      </ul>
      <button class="btn" routerLink="/contact">Sign Up</button>
    </div>
  </div>
</nav>