<ion-content>
  <app-header></app-header>
  <ion-grid fixed="true">
    <ion-row class="">
      <ion-col class="context-col">
        <h1 class="pet-header1">
          <span>Your </span>
          <ion-avatar class="avatar-inline">
            <ion-img src="../../../assets/pet svgs/dogface.jpg" alt="Cute Dog"></ion-img>
          </ion-avatar>
        </h1>
        <h2 class="pet-header2">
          <span>Pets Best</span>
          <span>Friend<ion-icon name="heart"></ion-icon></span>
        </h2>
        <h4>
          <span>Training, Grooming to nutrition & exercise there's caring worth often becomes the family </span>
        </h4>
        <ion-button shape="round" fill="outline" size="default" expand="block">
          Get Started | <ion-icon name="paw-outline"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-img src="../../../assets/pet svgs/dog-thinking-about-bone.svg" alt="Cute Dog">
        </ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="context">
      <ion-col class="contextCol">
        

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>