
.dynamicText {
    color: rgb(255, 60, 116);
}

.home {
    margin: auto;
    margin-top: 50px;
    height: 70vh;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}
