<div class="container">
  <section class="home">
    <div class="row mt-2 m-auto hero">
      <div class="col-xs-8 col-sm-8 col-md-5 col-lg-5">


        <h1 class="text-sm-center text-md-start text-lg-start">
          Connecting <br/>
          pet parents, <br/>
          vets, and grooming centers.
        </h1>
        <p>
          We provide services like
          <span class="changingText dynamicText" [appTyped]="strings"></span>
        </p>

      </div>
      <div class="col-md-5 col-lg-5 col-xs-12 col-sm-12">
        <img src="../../../assets/pet svgs/lady-playing-with-pet-dog.svg" class="col-12" />
      </div>
    </div>
  </section>

</div>