<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-avatar slot="start">
      <img src="../../assets/Pinder Assets/P-only logo.png" width=20 />
    </ion-avatar>
    <ion-title>
      <span class="title-main">PINDER</span>
      <ion-text class="title-sub">A trusted pet ecosystem</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="color-box pink-background">

  </div>
  
  <div class="color-box white-background">Box 2</div>
  <div class="color-box pink-background">Box 3</div>
  <div class="color-box white-background">Box 4</div>
</ion-content>