
ion-avatar {
    --border-radius: 0rem;
    img{
        padding: 20%;
        height: 100%;
        object-fit:fill;
    }
}

ion-header {
    --background: transparent;
    box-shadow: none;
    ion-toolbar{
        // --background: linear-gradient(to right, #ea60a5, #de4893);
        padding-left: 3vw;
        --background: linear-gradient(to right, #e87fb3, #e95ba2);
    }
}

.title-main {
    font-size: 24px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #fff;
  }
  
  .title-sub {
    font-size: 12px; 
    margin-left: 3vw;
    color: #fff;
  }

  .color-box {
    padding: 20px;
    text-align: center;

    font-size: 16px;
    transition: background-color 0.3s ease; /* Smooth transition for color */
  }
  
  /* Static background colors for alternating divs */
  .white-background {
    background-color: white;
    color: #de4893; /* Text color for white background */
  }
  
  .pink-background {
    background: linear-gradient(to right, #e87fb3, #e95ba2);
    color: white; /* Text color for pink background */
  }